<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />

    <link rel="manifest" href="appliReact/manifest.json" />

    <title>{title}</title>

    <link href="appliReact/static/css/main.4ee7ebbe.chunk.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">
</head>
    <body>
        <header id="siteheader">
            <h1>{titreSite}</h1>
        </header>
